.marquee-section {
  background-color: #1ed5e7;
  padding: 10px 0;
  color: #000;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 0;
    margin-right: 50px;
    li {
      display: flex;
      gap: 32px;
      align-items: center;
      justify-content: center;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
