@import "../../App.scss";
.parallax-section {
    height: 100vh;
    .parallax {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        h1 {
            font-size: 100px;

            @include mobile {
                font-size: 50px;
                text-align: center;
            }
            @include table {
                font-size: 80px;
                text-align: center;
            }
        }

        .mountain {
            background-image: url(../../../public/mountains.png);
            background-size: cover;
            background-position: bottom;
            width: 100%;
            height: 100%;
            position: absolute;
            // left: 0;
            // bottom:  0;
            z-index: 3;
            overflow:hidden;

            @include mobile {
                background-size: contain;
                background-repeat: no-repeat;
            }

        }

        .plants {
            background-image: url(../../../public/planets.png);
            background-size: cover;
            background-position: bottom;
            width: 100%;
            height: 100%;
            position: absolute;
            // left: 0;
            // bottom:  0;
            z-index: 2;
            @include mobile {
                background-size: contain;
                background-repeat: no-repeat;
            }

        }

        .stars {
            background-image: url(../../../public/stars.png);
            background-size: cover;
            background-position: bottom;
            width: 100%;
            height: 100%;
            position: absolute;
            // left: 0;
            // bottom:  0;
            z-index: 1;

        }
    }
}