@import "../../App.scss";
.aboutsection {
  .about-img {
    // background-color: #c2f5f521;
    width: 100%;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    left: 50%;
    position: relative;
    top: 0;
    transform: translate(-50%, 0px);
    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 400px;
      height: 400px;
      border: 50px dashed #1ed5e7;
      border-radius: 50%;
      backdrop-filter: blur(10px);
      //   background-color: #81ccd347;
      z-index: -1;
      animation: rotate360 20s linear infinite;

      @keyframes rotate360 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      @include table {
        width: 330px;
        height: 330px;
        border: 30px dashed #1ed5e7;
      }
      @include mobile {
        width: 300px;
        height: 300px;
        border: 20px dashed #1ed5e7;
        // transform: translate(-50%, 0px);
        // left: 50%;
      }
    }

    img {
      width: 100%;
      height: auto;
      //   object-fit: cover;
    }
  }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-size: 40px;
    }
    .about-links {
      display: flex;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: unset;
      a {
        display: flex;
        gap: 10px;
        align-items: center;
        &:hover {
          color: #1ed5e7;
          span {
            background-color: transparent;
            border: 1px solid #1ed5e7;
            color: #1ed5e7;
          }
        }
        span {
          background-color: #1ed5e7;
          border: 1px solid #1ed5e7;
          width: 30px;
          height: 30px;
          color: #000;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
